:root {
  --font-family: "Open Sans", "sans-serif";
  --primary: #ff3f34;
  --dark: #485460;
  --background-light: #d2dae2;
  --text-color: #444;
  --text-color-light: #fff;
  --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  --border: 1px solid #eee;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: var(--font-family);
  background: var(--background-light);
}

h1,
p {
  margin: 0;
}

h1 {
  margin-bottom: 1rem;
}

.container {
  font-size: 1.6rem;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  color: var(--text-color);
}

.btn {
  background: white;
  font-weight: 700;
  color: var(--text-color);
  font-size: 1.6rem;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  margin: 0 5px;
}

.btn-primary {
  background: var(--primary);
  color: var(--text-color-light);
  border-radius: 3px;
}

header {
  background: var(--primary);
  padding: 1.5rem;
  box-shadow: var(--box-shadow);
}

.logo {
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color-light);
}

.content {
  flex: 1;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow);
}

footer {
  background: var(--dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-light);
  padding: 1.5rem;
}

.todo-container {
  padding: 1.5rem;
  background: white;
  border: var(--border);
  border-radius: 3px;
  min-width: 60rem;
  min-height: 40rem;
}

.todo-container h1 {
  text-align: center;
}

.todo-form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.todo-form input {
  flex: 1;
  margin-right: 0.5rem;
  border: var(--border);
  border-radius: 3px;
  padding: 10px 15px;
}
